@page "/" 
<PageTitle>Chat GPT - Blazor WASM - TCD 2024</PageTitle>
<div class="h1 mb-4 text-center"> Bienvenido a Chat GPT desarrollado con Blazor Web Assembly </div>
<div style="line-height:40px;" class="h4 mb-4 text-center"> Aquí puedes buscar realizar una pregunta sobre el Tech Community Day 2024, horarios e información de los conferencistas. </div>
<div class="form-group text-center">
  <input class="form-control my-4 text-center py-2 m-auto" style="max-width:600px;" type="text" @bind="@message" placeholder="Escribe tu mensaje aquí" />
  <button class="btn btn-success mb-4 px-2" style="max-width:200px;" >Buscar respuesta</button>
</div>
<div class="d-flex justify-content-center text-center">
  <div style="min-width:600px; min-height:260px; max-width:700px;" class="mt-2container border border-1 rounded-2 p-3 text-center">@generatedText</div>
</div>

@code {
  public string message { get; set; }
  public string generatedText { get; set; } = "La respuesta se mostrará aquí.";
  private readonly HttpClient _httpClient = new HttpClient();
}